body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #58577ab2;
    color: #333;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.profile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.general-info, .other-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-left: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
    color: #2a71d0;
}
.info-group {
    margin-bottom: 15px;
}
.info-group span {
    display: block;
    font-weight: bold;
}